* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blog {
  width: 85vw;
  margin: auto;
  display: flex;
  /* align-items: center; */
  margin-top: 5rem;
  border: 2px solid dodgerblue;
}

.blog-photo {
  margin-left: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.blog-body {
  margin-left: 3rem;
  margin-right: 2rem;
  max-width: 1000px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.img {
  display: block;
  object-fit: cover;
}
.title {
  margin-bottom: 1rem;
}
p.desc {
  text-align: justify;
}
