* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blog {
  width: 85vw;
  padding: 1rem 2rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 5rem;
  border: 2px solid dodgerblue;
}

.blog-photo {
  margin-bottom: 1rem;
}
.blog-body {
}

.img {
  display: block;
  object-fit: cover;
}
.title {
  margin-bottom: 1rem;
}
p.desc {
  text-align: justify;
  max-width: 1000px;
}

@media screen and (min-width: 600px) {
  .blog {
    flex-direction: row;
  }
  .blog-body {
    margin-left: 1rem;
  }
}
